.home{
    background-color: rgba(219, 215, 210, 0.89);
    margin-top: 20px;
    color: rgba(39, 75, 129, 0.82)
}

.toolbar-title{
    text-align: center;
}

.tabs-md .tab-button-icon{
    color: #ccc;
}

.temp{
    font-size: 70px;
    text-align: center;
    font-weight: normal    
}

.icon img{
    width: 90px;
}

.location, .icon, .desc{
    text-align: center;
}

.location{
    font-size: 40px;
}

.item{
    background-color: rgba(39, 75, 129, 0.82);
    color: white
}
